/*
Colors
    Primary
        Bright Blue: hsl(220, 98%, 61%)
        Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)
    Neutral
        Light Theme
        Very Light Gray: hsl(0, 0%, 98%)
        Very Light Grayish Blue: hsl(236, 33%, 92%)
        Light Grayish Blue: hsl(233, 11%, 84%)
        Dark Grayish Blue: hsl(236, 9%, 61%)
        Very Dark Grayish Blue: hsl(235, 19%, 35%)

    Dark Theme
        Very Dark Blue: hsl(235, 21%, 11%)
        Very Dark Desaturated Blue: hsl(235, 24%, 19%)
        Light Grayish Blue: hsl(234, 39%, 85%)
        Light Grayish Blue (hover): hsl(236, 33%, 92%)
        Dark Grayish Blue: hsl(234, 11%, 52%)
        Very Dark Grayish Blue: hsl(233, 14%, 35%)
        Very Dark Grayish Blue: hsl(237, 14%, 26%)

Family: Josefin Sans
Weights: 400, 700
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root {
    --bright-blue:hsl(220, 98%, 61%);
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light--grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

   
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);
  }

body{
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
body.dark-theme{
    background-color:hsl(235, 21%, 11%);
}
body.light-theme {
    background-color:hsl(236, 33%, 92%)
}
/*----- header -----*/
.header{
    padding-top: 100px;
}
.header h2{
    font-size: 40px;
    letter-spacing: 10px;
    display: inline-block;
    color:hsl(236, 33%, 92%);
}
.title-container{
    display: flex;
    justify-content: space-between;
}
.sun-icon, .moon-icon{
    object-fit: contain;
    cursor:pointer;
}
.myInput{
    width: 660px;
    padding: 20px;
    border:0;
    outline: none;
    caret-color: var(--bright-blue);
    margin-top: 40px;
    margin-bottom: 20px;
}
/* ----- background -----*/
section.background{
    position: absolute;
    z-index: -1;
    width: 100vw;
    overflow: hidden;
}

/*----- container -----*/
.container, .header{
    margin: 20px;
    width: 700px;
    margin: auto;
}
.container{
    margin-bottom: 50px;
}
.container, .myInput {
    list-style: none;
    font-size: 18px;
    border-radius: 5px;
}
.container.dark-theme, .myInput.dark-theme{
    background-color: var(--very-dark-desaturated-blue);
    color: hsl(233, 11%, 84%);
}
.container.light-theme, .myInput.light-theme{
    background-color:hsl(233, 11%, 84%) ;
    color: var(--very-dark-desaturated-blue);
}
/*----- lista -----*/
#myUL{
    font-size: 18px;
}
#myUL li{
    display: flex;
    padding: 20px;
    position: relative;
}
#myUL.dark-theme li{
    border-bottom: solid 0.5px var(--very-dark-grayish-blue);
}
#myUL.light-theme li{
    border-bottom: solid 0.5px var(--very-light-grayish-blue);    
}
li span{
    padding-top: 5px;
}
.close{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.close:hover {
    filter: invert(46%) sepia(77%) saturate(1324%) hue-rotate(202deg) brightness(104%) contrast(98%);
}
/*------ checkbox -----*/
.label-checkbox{
    font-size: 20px;
    position:relative;
    order:-1;
    margin-right: 20px;
    order:-1
}
.checkbox{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--very-dark-grayish-blue) ; 
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox:checked {
    background: rgb(86,221,255);
    background: linear-gradient(153deg, rgba(86,221,255,1) 0%, rgba(191,88,243,1) 83%, rgba(191,88,243,1) 84%); 
    border: 0;
}
.label-checkbox input:checked {
  color: var(--very-light-grayish-blue);
}
.label-checkbox img {
    position: absolute;
    height: 12px;
    top:3px;
    bottom: 0;
    left: 7px;
    margin: auto;
}
.checkbox:hover {
    border: 1px solid var(--bright-blue) ; 
}
.label-checkbox span {
    position: absolute;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    cursor: pointer;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}
.crossed-text{
    text-decoration: line-through;
    color:hsl(234, 11%, 52%)
}
/*----- Botones "all", "completed", "active" "clear completed" -----*/
.button-item-click{
    color:var(--bright-blue)
}
.buttons{
    position: relative;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}
.buttons.dark-theme{
    color: var(--dark-grayish-blue);
}
.buttons.light-theme{
    color: var(--dark-grayish-blue);
}
.button-item{
    margin: 0 10px;
    cursor:pointer;
}
.buttons .clear-completed{
    position: absolute;
    right: 10px;
}
.buttons .items-left{
    position: absolute;
    left:20px;
}
.button-item.dark-theme:hover{
    color:var(--very-light-grayish-blue);
}
.button-item.light-theme:hover{
    color:hsl(237, 14%, 26%);
}

/* ----- footer ----- */
footer{
    padding-top: 10px;
    height: 50px;
    
}
footer.dark-theme{
    color:hsl(234, 11%, 52%);
}
footer.light-theme{
    color:hsl(235, 19%, 35%)
}
a{
    text-decoration: none;
}
.dark-theme a{
    color: hsl(233, 11%, 84%);
}
.light-theme a{
    color:hsl(237, 14%, 26%)
}
.mobile-container-buttons{
    display: none;
}

@media(max-width:800px){
    .container, .header{
        width: 500px;
    }
    .myInput{
        width: 460px;
    }
}
@media (max-width:500px){
    .container, .header, .myInput{
        width: 90%;
    }
    .buttons.computer .all, .buttons.computer .active, .buttons.computer .completed{
        display: none;
    }
    .mobile-container-buttons{
        display: inline-block !important;
        width: 90%;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 50px;
    }
    .buttons.computer{
        padding-bottom:30px;
    }
    .buttons.mobile span{
        font-size: 15px;
    }
    .container{
        margin-bottom: 20px;
    }
    .mobile-container-buttons.dark-theme{
        background-color: var(--very-dark-desaturated-blue);
    }
    .mobile-container-buttons.light-theme{
        background-color:hsl(233, 11%, 84%) ;
    }

}