@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root {
    --bright-blue:hsl(220, 98%, 61%);
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light--grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
  
   
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);
  }

  /*LISTA*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}
#myUL{
    font-size: 18px;
}
/*----- sección de los bonotes "all", "completed", "active" "clear completed"*/
.button-item-click{
    color:var(--bright-blue)
}
.buttons{
    position: relative;
    padding: 15px;
    text-align: center;
    font-size: 12px;
    color: var(--dark-grayish-blue);
}
.buttons .clear-completed{
    position: absolute;
    right: 10px;
}
.buttons .items-left{
    position: absolute;
    left:10px;
}

.button-item:hover{
    color:var(--very-light-grayish-blue);
}

/* color,, tamaño de fuente, background del gráfico principal*/
.container, .header{
    margin: 20px;
    width: 700px;
}
.container, .myInput {
    list-style: none;
    background-color: var(--very-dark-desaturated-blue);
    color: var(--very-light-grayish-blue);
    font-size: 18px;
    color: var(--light-grayish-blue);
    border-radius: 5px;
}
#myUL li{
    border-bottom: solid 0.5px var(--very-dark-grayish-blue);
    display: flex;
    padding: 20px;
    position: relative;
}
li span{
    cursor:pointer;
}
.close{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.close:hover {
    filter: invert(46%) sepia(77%) saturate(1324%) hue-rotate(202deg) brightness(104%) contrast(98%);
}
li .label-checkbox{
    order:-1
}


/*------ checkbox -----*/
.label-checkbox{
    font-size: 20px;
    position:relative;
    order:-1;
    margin-right: 10px;
}
.checkbox{
    width: 1.3em;
    height: 1.3em;
    background-color: ;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--very-dark-grayish-blue) ; 
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox:checked {
    background: rgb(86,221,255);
    background: linear-gradient(153deg, rgba(86,221,255,1) 0%, rgba(191,88,243,1) 83%, rgba(191,88,243,1) 84%); 
    border: 0;
}
.label-checkbox input:checked {
  color: var(--very-light-grayish-blue);
}
.label-checkbox img {
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
}

.checkbox:hover {
    border: 1px solid var(--bright-blue) ; 
}
.label-checkbox span {
    position: absolute;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    cursor: pointer;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}


/*----- input -----*/

.header h2{
    font-size: 30px;
    letter-spacing: 10px;
    display: inline-block;
}
.myInput{
    width: 100%;
    padding: 20px;
    border:0;
    outline: none;
    caret-color: var(--bright-blue);
    margin-top: 30px;
}

.crossed-text{
    text-decoration: line-through;
    color:hsl(234, 11%, 52%)
}
.sun-icon{
    float: inline-end;
}
